name: Team ORBS Chart Tools CI

on:
  workflow_call:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'

permissions:
  contents: read

jobs:
  build:
    name : Build, test  & validate
    runs-on : ubuntu-latest
    strategy:
      matrix:
          include:
            - platform: linux/amd64
            - platform: linux/arm64
    steps:
      - name : Checkout repository
        uses : actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name : Set up Go
        uses : actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.24
      - name : CI
        run : make ci