name: Team ORBS Chart Tools CI

on:
  workflow_call:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'

permissions:
  contents: read

jobs:
  build:
    name : Build, test  & validate
    runs-on : ubuntu-latest
    strategy:
      matrix:
          include:
            - platform: linux/amd64
            - platform: linux/arm64
    steps:
      - name : Checkout repository
        uses : actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name : Set up Go
        uses : actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version: 1.25
      - name : CI
        run : make ci